{% extends 'index.html' %}

{% block head %}
<title>Final Billing</title>
{% endblock %}

{% block body %}
<h2 class="text-center" >Patient Billing</h2>
{% if session['display'] == 'no' %}
<form action="" method="post">
    <div class="form">
        <div class="form-group" id="id">
            <div class="lable">
                <p for="user" class="label">Enter Patient Id </p>
            </div>
            <div class="input">
                <input type="text" name="id" id="id" placeholder="9 digit unique id" class="input-field">
            </div>
        </div>
        <div class="form-group" id="id">
          <div class="lable">
              <p for="user" class="label">Number Of Days </p>
          </div>
          <div class="input">
              <input type="text" name="days" id="days" class="input-field">
          </div>
      </div>
      <div class="btn-group">
          <div class="submit-button">
               <input type="submit" value="Get Bill" class="submit-btn">
          </div>
     </div>
    </div>
</form>
{% else %}
<form action="" method="post">
     <div class="form">
         <div class="form-group" id="id">
             <div class="lable">
                 <p for="user" class="label">Patient Id </p>
             </div>
             <div class="input">
                 <input type="text" name="id" id="id" value="{{patient.ssn}}" class="input-field">
                 <a href="/billing"><input type="button" value="Clear" class="submit-btn"></a>
             </div>
         </div>
     </div>
 </form>
<div class="patient-details">
          
          <div class="details-table">
               <table>
                    <tr>
                    <th>Patient ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>DOB</th>
                    <th>Type of Room</th>
                    </tr>
                    <tr>
                    <td>{{patient.ssn}}</td>
                    <td>{{patient.name}}</td>
                    <td>{{patient.age}}</td>
                    <td>{{patient.address}}</td>
                    <td>{{ patient.date_admitted.strftime('%Y-%m-%d')}}</td>
                    <td>{{patient.bed_type}}</td>
                    </tr>
                    
                  </table>
				   <div >
				   
						 <p><b><center><h3><pre> No of Days = {{days}}           Bill for Room = {{room}}</pre></h3></center></b></p>
				
						 </div>
		
						 
                  
          </div>
     </div>
<div class="medicine-details">
          <h2 class="text-center" >Pharmacy Charges</h2>
          <div class="details-table">
               <table>
                    <tr>
                    <th>Medicine</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Amount</th>
 
                    </tr>
                    
			{% if dmeds != 0 %}
               {% for each in meds %}
               <tr>
                    <td>{{each.med}}</td>
                    <td>{{each.quantity}}</td>
                    <td>Rs.{{each.price}}</td>
                    <td>Rs.{{each.amount}}</td>
               </tr>
               {% endfor %}
               {% endif %}
                    
                  </table>
                  
          </div>
     </div>
 <div >
				   
						 <p><b><center><h4>Bill for Pharmacy  =  Rs.{{pharmacy}}</h4></center></b></p>
				
						 </div>
<div class="medicine-details">
          <h2 class="text-center" >Diagnostics Charges</h2>
          <div class="details-table">
               <table>
                    <tr>
                    <th>Name of the test</th>
                    <th>Amount</th>
                    
                    </tr>
                    
			{% if ld != 0 %}
               {% for each in dcon %}
               <tr>
                     <td>{{each.test}}</td>
                     <td>Rs.{{each.price}}</td>
               </tr>
               {% endfor %}
               {% endif %}
                  </table>
                  
          </div>
     </div>
     <div>
          <p><b><center><h4>Bill for Diagnostics  =  Rs.{{diagbill}}</h4></center></b></p> 
     </div>
<div class="btn-group">
                         <div class="submit-button">
                              <a href="/discharge/{{patient.ssn}}"><input type="button" value="Confirm" class="submit-btn"></a>

                         </div>
						 <div>
						 	<p><b>Grand Total  =  Rs.{{total}}</b></p>
						</div>
	
</div>
{% endif %}
<style>
     main {
         margin-bottom: 1rem;
     }
 </style>
{% endblock %}